.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    color: #e0e0e0;
    background-color: #121212;
}

.login-container .group-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 500px;
    height: 750px;
    text-align: center;
    padding: 50px;
    border-radius: 12px;
    background: #1e1e1e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login-container .title {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.login-container .input-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-container input {
    width: 100%;
    font-size: 18px;
    color: #e0e0e0;
    padding: 16px;
    background: #222;
    border-radius: 8px;
    border: 1px solid #fff;
    outline: none;
    transition: 0.3s;
}

.login-container input::placeholder {
    color: #aaa;
}

.login-container input:focus {
    border-color: #fff;
    background-color: #2a2a2a;
}

.login-container .btn-login {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background: #FA397C;
    transition: 0.3s;
}

.login-container .btn-social {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.login-container .btn-social button {
    width: 190px;
    font-size: 18px;
    color: #fff;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.login-container .btn-google {
    background-color: #db4437;
}
.login-container .btn-google:hover {
    background-color: #c1351d;
}

.login-container .btn-facebook {
    background-color: #1877f2;
}
.login-container .btn-facebook:hover {
    background-color: #1356a2;
}

.login-container a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.login-container a:hover {
    text-decoration: underline;
}
.login-container .link-signup {
    margin-top: 30px;
}


@media (max-width: 768px) {
    .login-container .group-login {
        gap: 20px;
        max-width: 400px;
        padding: 30px;
        margin: 0 auto;
    }

    .login-container .title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .login-container .input-area {
        gap: 10px;
    }
    .login-container input {
        font-size: 16px;
        padding: 14px;
    }
    
    .login-container .btn-login{
        font-size: 18px;
    }
    
    .login-container .btn-social {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    .login-container .btn-social button {
        width: 100%;
        font-size: 16px;
    }

    .login-container .link-signup {
        margin-top: 20px;
    }

}