#game-sys {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: transparent;
}
.game-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.game-card {
  flex: 20%;
  max-width: 50%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

/* 드롭 영역 스타일 */
.drop-zone {
  width: 650px;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.drop-zone-wrapper {
  display: flex;
  justify-content: center;
}
/* 드래그 오버 시 드롭 영역 강조 */
.drop-zone-active {
  border-color: #007bff;
  background-color: #e9ecef;
}
/* 여기 */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  #div-container {
    width: 100%;
  }
}

.main-navigation-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 1%;
}

/* 메인 배너 */
.main-banner {
  display: flex;
  height: 50vh;
  margin-top: 1rem;
}

/* 배너 이미지 영역 */
.main-banner__banner-img-area {
  width: 70%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

/* 오른쪽 사이드 영역 */
.main-banner__sub-area {
  width: 30%;
  height: 100%;
  margin-left: 2%;
  .main-banner__sub-area__item {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    height: 20%;
    border-radius: 20px;
    &:hover {
      background-color: #28282c;
      transition: 0.3s ease-in-out;
    }
    img {
      border-radius: 10px;
    }
  }
  .clicked {
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out;
  }

  img {
    width: 15%;
    aspect-ratio: 1.5/2;
    margin-right: 2%;
  }
}

.focus {
  background-color: #28282c;
}

.search-result {
  gap: 10px;
  img {
    width: 100%;
    aspect-ratio: 1/1;
    margin: 5% 5%;
  }
}
