/* screens */
@import "reset.css";
@import "./login.css";
@import "main.css";
@import "detail.css";
@import "index.css";
@import "variable.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}
