:root {
  --pink-color: #ff8b8b;
  --beige-color: #f9f8e6;
  --red-color: #ea1821;
  --bg-color: #000000;
  --text-color: #f9f8e6;
}

.light-mode {
  --bg-color: #f9f8e6; /* 밝은 배경 */
  --text-color: #000000; /* 어두운 글씨 */
}
